@import url('https://fonts.googleapis.com/css2?family=Jeju+Gothic&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --color-fundo:#F3FAFA;
    --color-letra:#114F66;
    --color-letraBranca:#1d1c1c;
    --color-letraPreta:#000;
    --color-branca:#fff;
    --color-azulClaro:#D2E9F1;
    --color-verdeTecnologias:#44974E;
    --font-family: 'Jeju Gothic', sans-serif;
    --Titulo-principal: 
}

body{
    font-family: var(--font-family);
}
a{
    text-decoration: none;
    color: var(--color-letra);
}
.nav li{
    text-decoration: none;
    display: flex;
    
}
.tituloPrincipal{
    font-size: 6.37vw; /* 110px; */
}
.titulo{
    font-size: 2.89vw;  /* 50px */
}
.titulo2{
    font-size: 2.546vw;  /* 44px; */
}
.titulo3{
    font-size: 2.315vw; ; /* 40px */
}
.paragrafo{
    font-size: 2.083vw;  /* 36px; */
}
.subtitulo, .legenda{
    font-size: 1.852vw;  /* 32px; */ 
}
.cabecalho{
    font-size: 1.1574vw; /* 20px; */
}
.tituloLogin{
    font-size: 3.704vw; /* 64px; */
}

@media(width <= 1024px){
    .tituloPrincipal{
        font-size: 8vw; /* 110px; */
    }
    .titulo{
        font-size: 4vw;  /* 50px */
    }
    .titulo2{
        font-size: 3.5vw;  /* 44px; */
    }
    .titulo3{
        font-size: 3vw; ; /* 40px */
    }
    .paragrafo{
        font-size: 2.73vw;  /* 36px; */
    }
    .subtitulo, .legenda{
        font-size: 2.5vw;  /* 32px; */ 
    }
    .cabecalho{
        font-size: 2vw; /* 20px; */
    }
    .tituloLogin{
        font-size: 4vw; /* 64px; */
    }
}