@import url('https://fonts.googleapis.com/css2?family=Jeju+Gothic&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --color-fundo:#F3FAFA;
    --color-letra:#114F66;
    --color-letraBranca:#1d1c1c;
    --color-branca:#fff;
    --color-azulClaro:#D2E9F1;
    --font-family: 'Jeju Gothic', sans-serif;
    --Titulo-principal: 
}

body{
    font-family: var(--font-family);
}
a{
    text-decoration: none;
    color: var(--color-letra);
}

.tituloPrincipal{
    font-size: 6.37vw;
}
.titulo{
    font-size: 2.89vw;
}
.titulo2{
    font-size: 2.546vw;
}
.paragrafo{
    font-size: 2.083vw;
}
.subtitulo, .legenda{
    font-size: 1.852vw;
}
.cabecalho{
    font-size: 1.1574vw;
}
.tituloLogin{
    font-size: 3.704vw;
}