.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    
}

.empresa{
    display: flex;
    align-items: center;
}

.empresa__nome{
    color: var(--color-letra);
}

.empresa__logo{
    width: 5vw;
    flex-shrink: 0;
}
.pinceis{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.pincel{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}

.nav{
    display: flex;
    gap: 2rem;
    justify-content: space-between; 
}

.sanduiche {
    cursor: pointer;
    position: relative;
    z-index: 2;
    display: none;
}


/* Monta o menu "hamburguinho" */
.barra {
    display: block;
    width: 3rem;
    height: .3rem;
    background-color: var(--color-letra);
    margin: .5rem auto;
    border-radius: var(--radius);
    transition: var(--transition); /* Animação para que quando o menu for clicado, tenha a animação na barra */
}
.barraForum{
    display: block;
    width: 3rem;
    height: .3rem;
    background-color: var(--color-letraPreta);
    margin: .5rem auto;
    border-radius: var(--radius);
    transition: var(--transition); /* Animação para que quando o menu for clicado, tenha a animação na barra */
}



@media(width <= 1024px) {
    .sanduiche {
        display: block;
    }
    .nav {
        width: 100%;
        height: 100dvh;
        background-color: var(--color-fundo);
        position: absolute;
        z-index: 1;
        top: 0;
        right: -100%;
        gap: 0;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        transition: var(--transition);
    }
    .active {
        right: 0;   
    }
    /* Pseudoclasse: classes que manipulam a classe priniciapal */
    /* FirstChild: Corresponde ao primeiro elemento (filho) da html */
    .sanduiche.active .barra:first-child {
        transform: translateY(8px) rotate(360deg) rotate(45deg);
    }

    /* nth:child => Corresponde aos N números de filhos da classe barra */
    .sanduiche.active .barra:nth-child(2) {
        opacity: 0;
    }

    /* LastChild: corresponde ao último elemento (filho) da html */
    .sanduiche.active .barra:last-child {
        transform: translateY(-8px) rotate(-360deg) rotate(-45deg);
    }
    .nav {
        gap: 6rem;
        font-size: 3rem;
    }
}